<section id="home">
<!-- Header -->
  <div class="about-header">

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>{{ page.subTitle }}</h1>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.about-header -->
</section>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
              <br/><br/>
                <p>We started out in April 2004 as a IT supply and support company. We specialized in server supply, installation, voice over IP and internet telephony. We also supply customers with hardware (laptops, computers, CCTV camera’s) by sourcing their needs rather than selling the most expensive options available. We have expanded our portfolio to now include Website design, hosting, email hosting and also Social Media management. We are a registered sole trader.</p>
                <h3>Company Name</h3>
                <p>The flamelily is the national flower of Zimbabwe which is our birth place. We are brothers and grew up in Zimbabwe and still have a great affinity with it, hence chose this as our company name.<img class="img-responsive center-block" src="/img/Flamelily.jpg" alt="flamelily flower"></p>
                <p>We have many satisfied customers and we feel all would recomend us. We would be happy to send you our customer testimonials if needed.</p>
                <br/>
        </div>
    </div>
</section>
<section id="tweets" class="container content-section text-center">
<a class="twitter-timeline" href="https://twitter.com/FlamelilyIT" data-widget-id="329540446219026432">Tweets by @FlamelilyIT</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>