<section id="services">
<!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="section-heading" href="">Home</h2>
                    <div class="lead">
                    <p>Flamelily I.T offer many services at reasonable prices. We are Voice over IP specialists and offer many internet telephony options. We offer Website and email hosting for small businesses and individuals. We have experience in setting up servers, virtualization, VOIP and many more. We have used and set up CRM systems and also are experienced at WordPress and Joomla hosting. Have a look at our pricing page for our hosting services and prices.</p>

                    <p>We feel we offer a personalised service and will always be here for advice and help. Use our Contact Us page to phone or email us and we will get back to you as soon as possible. Even if you just need to talk about something I.T related and need advice we will be happy to assist. Many small businesses are struggling in these tough economical times, but we feel personal service is paramount and hopefully you can use us rather than big I.T firms with large overheads and lack of that personal touch. We have offices in Worcester and Tewkesbury and have clients all over Worcestershire and Gloucestershire.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
</section>